<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="{{url_for('static', filename='functions.js')}}"></script>
    <script src="{{url_for('static', filename='pasteboard_controller.js')}}"></script>
</head>

<body>

    <body>
        <div class="container">
            <!-- <header class="masthead">
                <h1>The Header</h1>
            </header> -->
            <div class="side-left column">
                <img src="{{url_for('static', filename='profile_placeholder.png')}}"
                    style="max-width: 274px; max-height: 274px;">
            </div>
            <div class="middle column">
                <h1><input type="text"></h1>
                <h3>Аналитик</h3>
                <div class="hstack" style="background-color: #F3F3F3;">
                    <p>В сети</p>
                    <p>На работе</p>
                </div>
                <hr>
                <div class="hstack">
                    <p class="text-fixed">Корпоративная почта</p>
                    <div class="rounded-with-border">
                        <input type="email" name="email" id="email" class="vertical-padding-m transparent-input">
                    </div>
                    <p>*</p>
                </div>
                <div class="hstack">
                    <p class="text-fixed">Номер телефона</p>
                    <div class="rounded-with-border">
                        <input type="tel" name="phone" id="phone" class="vertical-padding-m transparent-input">
                    </div>
                    <p>*</p>
                </div>
                <div class="hstack">
                    <p class="text-fixed">Мессенджер</p>
                    <div class="rounded-with-border">
                        <input type="text" name="messenger" id="messenger" class="vertical-padding-m transparent-input">
                    </div>
                    <p>*</p>
                </div>
                <hr>
                <div class="hstack">
                    <p class="text-fixed">Дата рождения</p>
                    <div class="rounded-with-border">
                        <p class="vertical-padding-m">123</p>
                    </div>
                </div>
                <div class="hstack">
                    <p class="text-fixed">Размер футболки</p>
                    <div class="rounded-with-border">
                        <p class="vertical-padding-m">123</p>
                    </div>
                </div>
                <div class="hstack">
                    <p class="text-fixed">Образование</p>
                    <div class="rounded-with-border">
                        <p class="vertical-padding-m">123</p>
                    </div>
                </div>
                <div class="hstack">
                    <p class="text-fixed">Учебное заведение</p>
                    <div class="rounded-with-border">
                        <p class="vertical-padding-m">123</p>
                    </div>
                </div>
                <hr>
                <p class="text-fixed">Навыки (Софт скиллы)</p>
            </div>
        </div>
    </body>
</body>

</html>