<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="{{url_for('static', filename='scripts/functions.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/pasteboard_controller.js')}}"></script>
</head>

<body>
    <div class="container">
        <div class="float-top">
            <div class="hstack">
                <div class="popup" onclick="showPopup()">
                    <input type="image" src="{{url_for('static', filename='resources/setting.svg')}}">
                    <div class="popuptext" id="settingsPopup" style="padding: 4px;">
                        <p class="text-s rounded-with-border-action vertical-padding-xs">Изменить данные
                            существующего сотрудника</p>
                        <p class="text-s rounded-with-border-action vertical-padding-xs">Изменить свои данные</p>
                        <p class="text-s rounded-with-border-action vertical-padding-xs">
                            <a id="addNewEmployee" href="">Добавить нового сотрудника</a>
                        </p>
                        <p class="text-s rounded-with-border-action vertical-padding-xs">Добавить новый отдел</p>
                    </div>
                </div>
                <img src="{{url_for('static', filename='resources/bell.svg')}}">
                <img src="{{url_for('static', filename='resources/profile_placeholder.png')}}"
                    style="width: 56px; height: 56px; border-radius: 28px;">
            </div>
        </div>
        <div class="side-left column">
            <img src="{{url_for('static', filename='resources/profile_placeholder.png')}}"
                style="max-width: 274px; max-height: 274px;">
        </div>
        <div class="middle column">
            <h1>{{ user.name }}</h1>
            <h3>Аналитик</h3>
            <div class="hstack" style="background-color: #F3F3F3; padding: 0px 6px; border-radius: 16px;">
                <p>{{ user.status }}</p>
                <div class="hstack rounded-with-border-s">
                    <div class="hstack horizontal-padding-s vertical-padding-xs" style="gap: 8px;">
                        <p class="text-s">На работе</p>
                        <img width="16" height="16" src="{{url_for('static', filename='resources/keyboard.svg')}}">
                    </div>
                </div>
            </div>
            <hr>
            <div class="hstack">
                <p class="text-fixed">Корпоративная почта</p>
                <div class="rounded-with-border">
                    <p id="email" class="horizontal-padding-m">{{ user.email }}</p>
                </div>
                <input type="image" id="copyEmail" width="32" height="32"
                    src="{{url_for('static', filename='resources/copy.svg')}}" alt="Копировать">
            </div>
            <div class="hstack">
                <p class="text-fixed">Номер телефона</p>
                <div class="rounded-with-border">
                    <p id="phone" class="horizontal-padding-m">{{ user.phone_number }}</p>
                </div>
                <input type="image" id="copyPhone" width="32" height="32"
                    src="{{url_for('static', filename='resources/copy.svg')}}" alt="Копировать">
            </div>
            <div class="hstack">
                <p class="text-fixed">Мессенджер</p>
                <div class="rounded-with-border">
                    <p id="messenger" class="horizontal-padding-m">{{ user.id }}</p>
                </div>
                <input type="image" id="copyMessenger" width="32" height="32"
                    src="{{url_for('static', filename='resources/copy.svg')}}" alt="Копировать">
            </div>
            <hr>
            <div class="hstack">
                <p class="text-fixed">Дата рождения</p>
                <div class="rounded-with-border">
                    <p class="horizontal-padding-m">{{ user.birthdate }}</p>
                </div>
            </div>
            <div class="hstack">
                <p class="text-fixed">Размер футболки</p>
                <div class="rounded-with-border">
                    <p class="horizontal-padding-m">{{ user.tshirt_size }}</p>
                </div>
            </div>
            <div class="hstack">
                <p class="text-fixed">Образование</p>
                <div class="rounded-with-border">
                    <p class="horizontal-padding-m">{{ user.education }}</p>
                </div>
            </div>
            <div class="hstack">
                <p class="text-fixed">Учебное заведение</p>
                <div class="rounded-with-border">
                    <p class="horizontal-padding-m">{{ user.university }}</p>
                </div>
            </div>
            <hr>
            <p class="text-fixed">Навыки (Софт скиллы)</p>
            <div class="hstack">
                {% for soft_skill in user.soft_skills %}
                <div class="rounded-with-border">
                    <p class="horizontal-padding-m">{{ soft_skill }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="side-right column">
            <div style="height: 112px"></div>
            <div class="simple-border" style="min-height: 212px;">
                <div style="padding: 4px 8px;">
                    <div class="hstack">
                        <img width="30" height="30" src="{{url_for('static', filename='resources/1c.svg')}}">
                        <p>1c</p>
                    </div>
                    <div class="hstack">
                        <img width="30" height="30" src="{{url_for('static', filename='resources/wiki.svg')}}">
                        <p>Wiki</p>
                    </div>
                    <div class="hstack">
                        <img width="30" height="30" src="{{url_for('static', filename='resources/jira.svg')}}">
                        <p>Jira</p>
                    </div>
                </div>
            </div>
            <div style="height: 24px;"></div>
            <div class="simple-border">
                <div style="padding: 10px;">
                    <p class="text-xs">Накопилось</p>
                    <p>14 дней отпуска</p>
                </div>
            </div>
            <div style="height: 24px;"></div>
            <div class="simple-border">
                <div style="padding: 0px 10px;">
                    <p>Полезные ссылки</p>
                </div>
            </div>
            <a id="goalsUrl" href="">
                <p>Цели</p>
            </a>
            <a id="companyTree" href="">
                <p>Структура компании</p>
            </a>
        </div>
        <footer class="footer">
            &copy; Footer
        </footer>
    </div>
    <script>
        document.getElementById("goalsUrl").href = window.location.href + "/goals"
        let url = new URL(window.location.href)
        document.getElementById("addNewEmployee").href = url.origin + "/addUser"
        document.getElementById("companyTree").href = url.origin + "/companyTree"
    </script>
</body>

</html>